.card{
  width: 364px;
  height: 281px;
  border-radius: 6px;
  background: #222;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
}

.card__link {
  margin: 0;
  padding: 0;
  text-decoration: none;

}
.card__img {
  width: 364px;
  height: 203px;
  margin: 0;
  padding: 0;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;

}

.card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 16px 7px 16px;
  padding: 0;
}
.card__title {
  color: #FFF;

  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0;
  margin: 0;
}
.card__button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card__button_like {
  background: url(../../images/likeDisable.svg) no-repeat center center;
}
.card__button_like_active {
  background: url(../../images/like.svg) no-repeat center center;
}
.card__button_delete {
  background: url(../../images/deliete.svg) no-repeat center center;
}

.card__duration {
  color: #8B8B8B;

  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 16px 16px;
  padding: 0;
}

@media (max-width: 880px) {
  .card {
    width: 339px;
    height: 262px;
  }

  

  .card__img {
    width: 339px;
    height: 190px;
  }
  
  .card__info {
    margin: 8px 14px 7px 14px;
  }

  .card__button {
    width: 30px;
    height: 30px;
 
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .card__button_like {
    background: url(../../images/likeDisable.svg) no-repeat center center;
  }
  .card__button_like_active {
    background: url(../../images/like.svg) no-repeat center center;
  }
  .card__button_delete {
    background: url(../../images/deliete.svg) no-repeat center center;
  }
  .card__duration {
    margin: 0 0 14px 14px;
  }
  
}
@media (max-width: 480px) {
  .card {
    width: 300px;
    height: 237px;
  }
  
  .card__img {
    width: 300px;
    height: 168px;
  }
  
  .card__info {
    margin: 8px 14px 7px 14px;
  }

  .card__title {
    font-size: 12px;
  }
  
  .card__duration {
    font-size: 10px;
  }
}
  
  
