.aboutme__container {
	display: flex;
	justify-content: space-between;
	margin-top: 66px;
}

.box {
	padding: 110px 70px;
}

.aboutme__box {
	max-width: 600px;
}

.aboutme__name {
	margin: 0;
	padding: 0;
	font-size: 50px;
	line-height: 58px;
	font-weight: 400;
	letter-spacing: -4%;
	font-style: normal;
}

.aboutme__subtitle {
	margin: 0;
	padding: 0;
	font-size: 18px;
	line-height: 20px;
	font-weight: 500;
	font-style: normal;
	margin: 18px 0 26px;
}

.aboutme__text {
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
	font-style: normal;
	margin-bottom: 99px;
}

.aboutme__github {
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 17px;
	font-weight: 500;
	font-style: normal;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

.aboutme__image {
	width: 270px;
	height: 327px;
	object-fit: cover;
	border-radius: 10px;
}

@media (max-width: 768px) {
	.aboutme__subtitle {
		font-size: 12px;
		line-height: 18px;
		margin: 16px 0 20px;
	}

	.box {
		padding: 90px 50px;
	}

	.aboutme__name {
		font-size: 40px;
		line-height: 40px;
	}

	.aboutme__text {
		font-size: 12px;
		line-height: 18px;
		margin-bottom: 87px;
	}

	.aboutme__image {
		width: 255px;
		height: 307px;
	}

	.aboutme__container {
		gap: 49px;
	}

	.aboutme__box {
		max-width: none;
	}
}

@media (max-width: 600px) {
	.aboutme__container {
		flex-direction: column-reverse;
		margin-top: 60px;
	}

	.box {
		padding: 70px 14px;
	}

	.aboutme__image {
		width: 292px;
		height: 352px;
		margin: 0 auto;
	}

	.aboutme__container {
		gap: 40px;
	}

	.aboutme__name {
		font-size: 30px;
		line-height: 36px;
	}

	.aboutme__subtitle {
		font-size: 11px;
		line-height: 16px;
		margin: 20px 0;
	}

	.aboutme__text {
		font-size: 11px;
		line-height: 16px;
		margin-bottom: 40px;
	}
}